
.tm-header .tm-headerbar {
	z-index: 100000;
    position: relative;
}

ul.menu-nous-connaitre ul.uk-nav-sub {
	display: none;
	position: absolute;
    background: #fff;
    border: 1px solid #ededed;
	box-sizing: border-box;
	padding: 25px;
	width: 250px;
}
ul.menu-nous-connaitre:hover ul.uk-nav-sub {
	display: block;
}

ul.menu-nous-connaitre ul.uk-nav-sub li a {
	color: #333232 !important;
}

ul.menu-nous-connaitre ul.uk-nav-sub li a:hover {
	color: #d61727 !important;
}

hr {
    border-top: 2px solid #d11820;
}

.tm-header .uk-navbar {
    border-top: none !important;
    border-bottom: none !important;
}

/* li::marker {
	color : #d11820 !important;
} */

.tm-headerbar-default .uk-position-center-right {
    left : 0px !important;
    right: auto !important;
}

.tm-headerbar-default .uk-position-center-left {
    right : 0px !important;
    left: auto !important;
}


.uk-margin-remove-last-child.custom li{
    padding-left: 10px !important;
}

/* div#module-menu-header {
    position: relative;
    right: 46rem;
} */
.tm-header  .uk-grid-medium.uk-child-width-auto.uk-flex-middle.uk-grid {
    flex-direction: row-reverse;
    width: 350px;
    justify-content: space-between;
}

/* Link "Nous connaitre" */
#module-123 a {
    text-transform: uppercase;
}
.item-264 > a {
    color: #d61727 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
}


/* .uk-navbar-nav>li>a, .uk-navbar-toggle {
    padding: 0 20px !important;
} */

.uk-navbar-nav>li>a {
    /* color: white;
    margin-top: 10px;
    margin-bottom: 10px; */
    text-transform: uppercase;
    padding: 0 15px !important;
}

/* .uk-navbar-nav>li {
    color: white;
    margin-left: 2px;
    margin-right: 2px;
} */

.uk-navbar-nav>li>a::before {
    background: none !important;
    color : #d61727;
}

.uk-navbar-nav>li>a:hover {

    background-color: #FFF !important;
    color : #d61727;
}


h1 p,h2 p {
    margin: 0 0 0 0 !important;
}
/* 
.uk-navbar {
    background-color : #555555;

} */

/* .uk-navbar-nav>li.uk-active>a {
    color: #cc0b24;
    background-color: #FFF;
} */

svg {
    min-width: 24px;
    height: 50px;
    box-sizing: border-box;
}


.uk-subnav>* {
    flex: none;
    position: inherit;
}

h2.uk-h1 {
 	font-weight : 600;
}

/* Affiche le dropdown subnav sous l'item */
.dropdown-nous-connaitre {
    width: 13% !important;
    min-width: 250px;
    left: 18% !important;
    top: 140px !important;
    z-index: 1021 !important;
}


@media (min-width : 1280px) {
    .tm-header img {
        width: 500px !important;
    }
}

@media (max-width : 1280px) {
    .tm-header img {
        width: 400px !important;
    }

    /* .item-322 a {
        font-size: 14px !important;
    } */

    .tm-header .uk-position-center-right.tm-position-z-index-high .uk-grid-medium.uk-child-width-auto.uk-flex-middle.uk-grid {
        width: auto;
        flex-direction: column-reverse;
    }

    .tm-header .uk-position-center-right.tm-position-z-index-high .uk-grid-medium.uk-child-width-auto.uk-flex-middle.uk-grid .uk-grid-margin.uk-first-column{
        margin-top : 10px !important;
    }

    .dropdown-nous-connaitre {
        width: 13% !important;
        min-width: 250px;
        left: 8% !important;
        top: 140px !important;
        z-index: 1021 !important;
    }
}


b, strong {
    font-weight: bold !important;
}

/* h1 , h1 > p, h2, h2 > span, h2 > strong {
    font-family: 'Cormorant Garamond' !important;
} */

h1 > p {
    font-size: 34px !important;
}

h2 {
    margin-bottom : 0 !important;
}

h5 {
    font-size : 22px !important;
}

p, p > span,
.el-content p, 
.el-content p > span {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
}



/* Fix header alignment */

.tm-header  .uk-grid-medium.uk-child-width-auto.uk-flex-middle.uk-grid  .uk-first-column {
    padding-left : 0 !important
}

.tm-header  .uk-grid-medium.uk-child-width-auto.uk-flex-middle.uk-grid  .uk-grid-margin {
    margin-left : 0 !important;
    margin-top : 0 !important
}

/* Hikashop + Hikamarket ret*/
#hikashop_user_addresses_default select, div#hikashop_user_addresses_show input, div#hikashop_user_addresses_show select{
    height: 37px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    border: solid 1px #333232;
    padding: 0 10px;
    background: #fff;
    color: #333232;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border-color,box-shadow;
    border-radius: 3px;
}
 
.hika_edit {
    background: none !important;
    padding: 4px;
}

dl.hika_options {
    display: flex;
}

dl.hika_options > dt {

    width: 200px !important;
    text-align: left !important;
    overflow: inherit !important;
}

dl.hika_options.large > dd {
    margin-left: 130px !important;
}


.hikashop-custom-menu {
	display : flex; 
	flex-direction : row;
	list-style: none;
	padding-left : 0 !important;
}

.menu-item {
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 15px;
	text-align: center;
	background-color: #d61727;
	border-radius: 5px;
}

.menu-item > a {
	display: block;
	padding : 10px;
	color : white !important;
}

.menu-item:hover {
	background-color: white;
	border: solid 2px #d61727;
	
}

.menu-item >a:hover {
	color :#d61727 !important;
	text-decoration: none !important;
}


.hikashop_product_price_full {
	padding: 20px 0px;
	font-size: 20px;
}

.hikashop_product_sale_end {
	font-size: 12px;
}


/* HIDE Upload file btn*/

#hikamarket_file_add {
	display: none;
}


.hikashop_product_custom_structure_line {
    margin-top : 10px;
}
.hikashop_product_custom_name {
	margin-bottom : 10px;
}
#hikashop_product_name_main {
    text-transform: uppercase;
    color: #d11820 !important;
}

.hikashop_product_custom_info_main_table td	{
	padding: 10px;
}
.hikashop_product_custom_info_main_table tbody	{
	background: #e5e5e5;
}

#hikashop_product_right_part h2, #hikashop_product_left_part h2, #hikashop_product_files_main {
	text-align: center;
}

#hikashop_product_left_part p {
	text-align: justify;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
	font-size: 15px;
}


/* PAGE MODELE FORMATION */
.section0-formation .uk-container {
    background-color: #c04848;
    border-radius: 16px;
}
.title-h1-formation {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    color: white; 
}
.section1-formation .uk-container .tm-grid-expand .bloc1-img {
    padding-left: 0;
}
.bloc1-ss-title-h2-formation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc1-ss-title-h2-formation .ss-title-h2-formation {
    font-weight: 700;
}
.section0-formation .uk-width-1-1 {
    padding-left: 0;
}
.section2-formation .uk-container, .section3-formation .uk-container, .section5-formation .uk-container {
    border: 2px solid #c04848;
    border-radius: 16px;
}
.section2-formation .uk-container .bloc2-definition-formation h2, .section2-formation h2,.section1-formation h2,.section3-formation h2,.section4-formation h2,.section5-formation h2 {
    color: #c04848 !important;
}
.section3-formation .uk-container .tm-grid-expand, .section2-formation .uk-container .tm-grid-expand {
    padding: 20px;
}
.section3-formation .bloc3-text, .section2-formation .bloc2-definition-formation {
    padding: 0;
}
/* .section4-formation .uk-container .tm-grid-expand {
    margin: 0 -40px;
} */
.section4-formation .uk-container {
    padding: 0;
}
.section4-formation .uk-container .bloc4-left-formation, .section4-formation .uk-container .bloc4-right-formation {
    padding: 20px;
    border: 2px solid #c04848;
    border-radius: 16px;
    width: 49%;
    text-align: center;
}
.section4-formation .uk-container .bloc4-left-formation {
    margin-right: 10px;
}
.section4-formation .uk-container .bloc4-right-formation {
    margin-left: 10px;
}
.section5-formation .uk-container .tm-grid-expand {
    padding: 20px 0;
}
.bloc-telechargements-formation .el-item .el-content {
    background-color: #c04848;
    color: white;
    border: unset;
}
.bloc5-formation-infos-diverses .el-content h3 {
    color: #c04848;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.bloc6-accordeons-formation .el-title {
    background: #c04848;
    border-radius: 16px;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.bloc6-accordeons-formation .el-item.uk-open {
    border-radius: 20px;
    border: 2px solid #c04848;
}
.bloc6-accordeons-formation .uk-accordion-content {
    margin: 0;
    padding: 15px;
}
#login-form-159 ul.uk-list li:nth-child(3) {
    display: none;
}

/* Nouvelle page d'accueil */
#bloc-orientation-conseils-home {
    background-color: #eca527;
}
#bloc-inscriptions-home {
    background-color: #49c0e2;
    margin: 0 20px;
}
#bloc-professionnels-home {
    background-color: #97c04a;
}
#bloc-orientation-conseils-home, #bloc-inscriptions-home, #bloc-professionnels-home {
    padding: 20px;
    width: calc(100% * 1 / 3.1);
}
#bloc-orientation-conseils-home > h2, #bloc-inscriptions-home > h2, #bloc-professionnels-home > h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    min-height: 81px;
    font-family: Nunito Sans !important;
}
#bloc-orientation-conseils-home .el-item, #bloc-inscriptions-home .el-item, #bloc-professionnels-home .el-item {
    border: 5px solid white;
    padding: 10px 0;
    min-height: 192px;
}
#bloc-orientation-conseils-home h3.el-title, #bloc-inscriptions-home h3.el-title, #bloc-professionnels-home h3.el-title {
    color: white;
    font-weight: 700;
    line-height: 21px;
}
#bloc-actualites-agenda-home .el-title {
    background-color: #d11820;
    padding: 16px 5px 5px 5px;
    height: 60px;
    width: 71px;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 28px;
}
#bloc-actualites-agenda-home .el-meta {
    font-weight: 700;
}
@media (max-width:600px) {
    #bloc-orientation-conseils-home, #bloc-inscriptions-home, #bloc-professionnels-home {
        width: unset;
    }
    #bloc-inscriptions-home {
        margin: 30px 0 0 0;
    }
}
.blocs-actualites-image .el-container {
    border: 3px solid #d11820;
}
.blocs-actualites-image .el-overlay {
    background: rgba(79, 73, 73, 0.56);
}
.latestnews .latestnews-datecreated {
    font-style: italic;
    font-size: 12px;
    color: #d11820;
}
.category-list .content-category #adminForm.com-content-category__articles {
    display: none;
}

@media (min-width: 960px) {
    .uk-navbar-nav {
      gap: 20px;
    }
}
.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    font-size: 17px;
}
.uk-navbar-nav > li > a {
    text-transform: none;
}
.uk-nav li.item-265 {
    font-weight: bold;
}
.uk-section {
    margin: 0 10px;
}
/* .uk-grid {
    margin-left: unset;
} */
/* .uk-grid > * {
    padding-left: 0;
} */
@media (min-width: 1200px) {
    .uk-grid-column-large, .uk-grid-large {
      margin-left: unset;
    }
}
@media (max-width: 767px) {
    .uk-grid {
        margin-left: unset;
    }
    #bloc-orientation-conseils-home > h2, #bloc-inscriptions-home > h2, #bloc-professionnels-home > h2 {
        min-height: 42px;
        font-size: 23px;
    }
    #bloc-orientation-conseils-home .blocs-internes-haut-home .uk-first-column, #bloc-inscriptions-home .blocs-internes-haut-home .uk-first-column, #bloc-professionnels-home .blocs-internes-haut-home .uk-first-column, .uk-section .uk-first-column {
        padding-left: 0;
    }
}

#tableau-dates-inscriptions {
    text-align: center;
}
#tableau-dates-inscriptions iframe {
    width: 900px;
    height: 1000px;
}
@media (max-width: 767px) {
    #tableau-dates-inscriptions iframe {
        width: 400px;
        height: 400px;
    }
}